body{
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1{
  color: #66BFBF;
  font-size: 5.625rem;
  width:30%;
  margin:auto;
  font-family: 'Sacramento', cursive;
  margin: 50px auto 0 auto;
}
.abc{
  font-weight:normal;

}
p{
  line-height: 2;


}
h2{
  color:#66BFBF;
  margin-top: 0;
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
}
h3{
   color:  #11999E;
  font-family: 'Montserrat', sans-serif;
}
a{
  color: #11999E;
  font-family: arial;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover{
  color: #EAF6F6;
}

/*------------------------------------------class slectors----------------------------*/
.top_Container{
  background-color: #E4F9F5;
  position: relative;

  padding-top: 100px;
}

.atharv{
  height: 250px;
  width: 250px;
  margin: 50px auto;
}

.skill-row{
  text-align: left;
  margin: 100px auto 100px auto;
  width: 50%;
  line-height: 2;
}
/*--------------------width of img is 25% of its parent element which is the skill-row--------*/
.web{
  width: 25%;
  float: left;
  margin-right: 30px;
}
.laptop{
  width: 25%;
  float: right;
  margin-left:30px;
}



.bottom_container{
  background-color: #66BFBF;
  margin-top: 50px;
  height: 150px;
  padding-top: 50px;
}

/*Relative to our top cointainer the position of the two clouds can be changed by absolute positioning*/
.bottom-cloud{
  position:absolute;
  left:250px;
}
.top-cloud{
  position:absolute;
  right:250px;
  top:40px;
}
.contact-me{
  margin:30px auto;
  width: 40%;

}
.links{
  color: #11999E;
  font-size: 25px;
}
.copyright{
  padding-top: 20px;
  color: #EAF6F6;
  font-size: 0.75rem;
}
.hr{
  width: 3%;
  border-style: none;
  border-top-style: dotted;
  border-color: #66BFBF;
  border-width: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}
.p{
  margin-bottom: 50px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.btn{
  margin-top: 100px;
  margin-bottom: 100px;
}
